<!DOCTYPE html>
<html lang="en">
<head>
  <title>MeetingRoomsApp</title>
    {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
         <script src="{% static '/js/login.js' %}"></script>
<!--         <script src="{% static '/js/home_page.js' %}"></script>-->


</head>
<style type="text/css">

.note
{
    text-align: center;
    height: 60px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    <!--background: #0062cc;-->
    color: #fff;
}

#login{
        margin-left: 500px;
    margin-top: 30px;
}
.back{
        margin-left: 1150px;
        margin-bottom: 2px;
         margin-top: 50px;


}
</style>

<body>
  <div class="container">
      <div class="login_page">
        <div class="container register-form" style="padding-left:200px; padding-right:200px;">
                  <div class="form" style="margin-top:60px">
                      <div class="note">
                          <p>User Login</p>
                      </div>
                      <div class="form-content" >
                           <p style="color:red; text-align:-webkit-center">{{ massage }}</p>
                          <div class="row" style="margin-left:-110px;">
                              <div class="col-md-4" style="margin-left:300px;">
                                  <div class="form-group">
                                      <input type="email" class="form-control" placeholder="Eami ID *"
                                             value="" id="login_email"/>
                                  </div>
                                  <div class="form-group">
                                      <input type="password" class="form-control" placeholder="Password*"
                                              value="" id="login_password"/>
                                  </div>
                              </div>
                               <button type="submit" id="btn_login" class="btn btn-primary" style="margin-left:350px;">Login</button>
                               <!--<button type="submit" class="btnSubmit" style="margin-left:350px;">Create account</button>-->
                          </div>

                      </div>
                  </div>
              </div>
        <button type="submit" class="btnSubmit btn btn-info" id="create-ac"
                style="margin-top:-5px; margin-left:450px;">Registration new user</button>
    </div>


 <div class="userRegistration">
             <div class="container register-form" style="padding-left:200px; padding-right:200px;">
                    <div class="form" style="margin-top:60px">
                            <div class="note">
                                <p>User Registration Form </p>
                            </div>

                            <div class="form-content" >
                                <p style="color:red; text-align:-webkit-center">{{ massage }}</p>
                                <div class="row">
                                    <div class="col-md-8" style="margin-left:110px;">
                                        <div class="form-group">
                                            <input type="text" id="name" class="form-control" placeholder="Name *" value="{{ name }}"/>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" id="email"  class="form-control" placeholder="Email ID *" value="{{ email }}"/>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" id="password"  class="form-control" placeholder="Password  *" value="{{ pwd }}"/>
                                        </div>

                                    </div>
                                </div>

                                        <button type="submit" class="btnSubmitRegi" style="margin-left:255px;">Register</button>
                                </div>
                   </div>
             </div>
        <button type="submit" name="cancel" value="" class="btn btn-danger btn-cancel"
                                            style="margin-top:0px; margin-left:450px;" onclick="window.location.href = '/';">Cancel</button>

   </div>
 </div>
</body>
</html>
