  .note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}

.logout{
        margin-left: 1068px;
        margin-bottom: 10px;
         margin-top: -29px;


}

#btn-accept {
  background-color: #3bd5ed;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#btn-accept {border-radius: 4px;}
#btn-accept {padding: 6px 18px;}

.gtext {
    color: black;
    text-shadow: 2px 2px 5px blue;
    font-size: 140%;
}



* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

#img {

width: 20px;
}

.btn-booking {
  position: absolute;
  <!--top:100%;-->
  <!--left: 13%;-->
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color:#070dc1;
  color: white;
  font-size: 16px;
  padding: 8px 14px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.btn-view {
  position: absolute;
  <!--top:100%;-->
  <!--left: 13%;-->
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color:#09dbed;
  color: white;
  font-size: 16px;
  padding: 8px 14px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}


.centered {
  position: absolute;
  top: 20%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: -webkit-xxx-large;
  color: #fbffff;
   text-shadow: 2px 2px #FF0000;
}

.center {
  position: absolute;
  transform: translate(-50%, -50%);
  <!--font-size: -webkit-xxx-large;-->
  color: #fbffff;
   text-shadow: 2px 2px #50fcfc;
   font-size: 30px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;

   color: white;
   text-align: center;
}


* {
  box-sizing: border-box;
}

.im{
        width:70px;
}